<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 140, height: 50, alt: 'SUN Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">

  </ul>
  <ul class="nav navbar-nav ml-auto">

    <li class="nav-item dropdown" dropdown placement="bottom right">

      <img src="assets/img/buidling.png" alt="Skyline" height="50" width="45">
      <!-- [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, height: 25, alt: 'SUN Logo'}" -->


    </li>
  </ul>

</app-header>


<p> It works!!!</p>